.Header-wrapper{
    display: flex;
    align-items: center;
    height: 60px;
    justify-content: space-between
} 

.Header-logo{
  margin-left: 48px;
}
.Header-search{
    height: 40px;
    padding: 10px;
    display: flex;
    align-items: center;

}


.Header-wrapper{
display: flex;
align-items: center;
justify-content: space-between;
height: 64px;
color: white;

}

.Header-search-container{
    height: 20px;
    border: 1px solid #31363A;
    border-radius: 4px;
    width: 375px;
}

.Header-search-container > input {
    
    background-color: transparent;
    border: none;
    width: 100%;
    margin-right: 5px;
    margin-left: 5px;
    color: white;
}

.Header-search-container > input:focus {
    
   outline: none;
}



.Header-menu-iteams  {
margin-left: 48px;
margin-right: 48px;
}

.Header-menu-iteams  a{
    color: white;
    font-weight: bold;
    text-decoration: none;
    padding: 0 10px;
}

.Header-menu-iteams  a:hover{
    color: green;
  
}